if SHIELD_ERGOMAX_LEFT

config ZMK_KEYBOARD_NAME
    default "ErgoMax"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_ERGOMAX_LEFT || SHIELD_ERGOMAX_RIGHT

config ZMK_SPLIT
    default y

endif
